html, body {
    width: 100%;
    background-image: url(./pictures/gray.jpg);
    background-size: 100% 100%;
    font-size: 15px !important;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url(CenturyGothic.ttf);
}

@font-face {
    font-family: 'StellaWilson';
    src: url(Stella-Wilson.ttf);
}

h4 {
    font-family: 'CenturyGothic'
}

.contact-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'CenturyGothic';
}

.investment-container {
    font-family: 'CenturyGothic';
}

.about-container {
    font-family: 'CenturyGothic';
    white-space: pre-line;
    margin: 0px 20px 20px 20px;
}

.logo-pic {
    margin-left: auto;
    margin-right: auto;
}

.nav-container {
    font-family: 'CenturyGothic';
    margin-bottom: -20px;
}

.nav-middle {
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 2px;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 2px
}

.footer-container {
    font-family: 'CenturyGothic';
    margin-top: 20px;
}

.arrow-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-review-container {
    margin-top: 20px;
}

.gallery-slider-container {
    margin-left: 200px;
    margin-right: 200px;
}

.pic-review-container {
    float: left; 
    height: 400px;
    margin-right: 20px; 
    position: relative;
    border-style: solid;
    border-color: black; 
    border-width: 2px;
}

.blog-pic-container {
    position: relative;
    background-color: white; 
    margin-right: 10px;
}

.blog-title {
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90%;
    font-family: CenturyGothic;
}

.blog-category {
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 25px;
    width: 90%;
    font-family: CenturyGothic;
}

.blog-image-container {
    padding: 10px;
}

.pic-blog {
    height: 400px;
    width: 100%;
    opacity: 0.4;
}

.stella-font {
    font-family: 'StellaWilson';
    font-size: 70px
}

.gallery {
    color: black;
    cursor: pointer;
}

.gallery:hover {
    text-decoration: underline;
}

.background-container {
    padding: 20px;
    margin-top: 20px;
}

.menu-container {
    background-image: url(./pictures/gray.jpg);
    padding: 15px;
}

span {
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
    }
  }
  
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
    }
  }

.review-slider {
    padding: 10px;
    border: 2px double #aadbe6
}

