html, body {
    background: url(./pictures/gray.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url(CenturyGothic.ttf);
}

@font-face {
    font-family: 'StellaWilson';
    src: url(Stella-Wilson.ttf);
}

p {
    white-space: pre-line;
}

h4 {
    font-family: 'CenturyGothic'
}

.contact-container {   
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'CenturyGothic';
}

.investment-container {
    font-family: 'CenturyGothic';
}

.about-container {
    font-family: 'CenturyGothic';
    white-space: pre-line;
    margin: 0px 20px 20px 20px;
}

.logo-pic {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.nav-container {
    font-family: 'CenturyGothic';
    margin-bottom: -20px;
}

.footer-container {
    font-family: 'CenturyGothic';
    margin-top: 20px;
}

.arrow-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider-review-container {
    margin-top: 20px;
}

.pic-review-container {
    float: left; 
    height: 400px;
    margin-right: 20px; 
    position: relative;
}

.blog-button {
    margin-bottom: 10px;
    background-color: lightgray;
    float: right;
}

.blog-button a {
    color: black;
    font-size: 12px;
}

.blog-pic-container {
    position: relative;
    background-color: white;
    font-family: CenturyGothic;
}

.blog-title {
    font-family: CenturyGothic;
}

.blog-category {
    font-family: CenturyGothic;
}

.blog-image-container {
    padding: 10px;
}

.pic-blog {
    height: auto;
    width: 100%;
}

.stella-font {
    font-family: 'StellaWilson';
    font-size: 70px
}

.gallery {
    color: black;
    cursor: pointer;
}

.gallery:hover {
    text-decoration: underline;
}

.background-container {
    padding: 20px;
    margin-top: 20px;
}

.blog-detail-container {
    background-color: white;
    border-color: gray;
    border-style: dashed;
    border-width: 1px;
    font-family: CenturyGothic;

}

.menu-container {
    background-image: url(./pictures/gray.jpg);
    padding: 15px;
}

span {
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
}


@media (min-width: 0px) and (max-width: 992px) {
    .arrow-header {
        display: none;
    }


}

@media (min-width: 992px) {

    .social-media-container {
        font-family: CenturyGothic;
        font-size: 12px;
        margin-top: 35px;
    }

    .blog-detail-container {
        background-color: white;
        margin-left: 40px;
        margin-right: 40px;
    }

    .arrow-header {
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        visibility: hidden;
        display: block;
    }

    .home-link:hover .arrow-header{
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        visibility: visible;   
        display: block; 
    }

    .nav-middle {
        border-right-style: solid;
        border-right-color: lightgray;
        border-right-width: 2px;
        border-left-style: solid;
        border-left-color: lightgray;
        border-left-width: 2px;
        margin-top: 20px;
    }
    
    .nav-items-container {
        border-right-color: lightgray;
        border-right-style: solid; 
        border-right-width: 2px;
    }
}

@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
    }
  }
  
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
    }
  }

.review-slider {
    padding: 10px;
    border: 2px double #aadbe6
}

